<a href="https://colab.research.google.com/github/Nada-Tahani/NNDL/blob/main/4G9_assign1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
data = pd.read_excel(os.path.join(os.getcwd(), 'Assets', '/content/drive/MyDrive/dataset/dataset.xlsx'))
print(data.shape)
data.head()

(30, 2)

       X      Y
0   75.1  577.8
1   74.3  577.0
2   88.7  570.9
3  114.6  578.6
4   98.5  572.4

In [4]:
maxX = np.max(data['X'])
minX = np.min(data['X'])
maxY = np.max(data['Y'])
minY = np.min(data['Y'])

data['X'] = (data['X'] - minX) / (maxX - minX)
data['Y'] = (data['Y'] - minY) / (maxY - minY)

In [5]:
x = data['X']
y = data['Y']
trainX, testX, trainY, testY = train_test_split(x, y, test_size=0.1, random_state=101)

In [6]:
m = np.random.uniform(-50, 50)
c = np.random.uniform(-50, 50)
eta = 0.5
epochs = 500

for _ in range(epochs):
    
    gradM = -sum([(trainY.iloc[i] - m * trainX.iloc[i] - c) * trainX.iloc[i] for i in range(trainX.shape[0])])
    gradM /= trainX.shape[0]
    
    gradC = -sum([(trainY.iloc[i] - m * trainX.iloc[i] - c) for i in range(trainX.shape[0])])
    gradC /= trainX.shape[0]
    
    c += - eta * gradC
    m += - eta * gradM

print(f'm = {m}\nc = {c}')

m = -0.15334267187022269
c = 0.696697883734279

In [7]:
train_pred = [m * trainX.iloc[i] + c for i in range(trainX.shape[0])]
test_pred = [m * testX.iloc[i] + c for i in range(testX.shape[0])]

train_pred = [i * (maxY - minY) + minY for i in train_pred]
test_pred = [i * (maxY - minY) + minY for i in test_pred]
trainY = [i * (maxY - minY) + minY for i in trainY]
testY = [i * (maxY - minY) + minY for i in testY]

training_MAE = sum([abs(train_pred[i] - trainY[i]) for i in range(len(trainY))]) / len(trainY)
training_MSE = sum([(train_pred[i] - trainY[i]) ** 2 for i in range(len(trainY))]) / len(trainY)
training_RMSE = training_MSE ** 0.5
print('Training Error :')
print(f'MAE : {training_MAE}')
print(f'MSE : {training_MSE}')
print(f'RMSE : {training_RMSE}')

testing_MAE = sum([abs(test_pred[i] - testY[i]) for i in range(len(testY))]) / len(testY)
testing_MSE = sum([(test_pred[i] - testY[i]) ** 2 for i in range(len(testY))]) / len(testY)
testing_RMSE = testing_MSE ** 0.5
print('Testing Error :')
print(f'MAE : {testing_MAE}')
print(f'MSE : {testing_MSE}')
print(f'RMSE : {testing_RMSE}')

Training Error :
MAE : 26.709777077162105
MSE : 1532.8193422672923
RMSE : 39.15123679102989
Testing Error :
MAE : 19.052519256530008
MSE : 532.4720634350346
RMSE : 23.07535619302624

In [8]:
pd.DataFrame({'Actual' : trainY, 'Predicted':train_pred})

    Actual   Predicted
0    508.6  504.754456
1    570.9  514.377080
2    510.0  517.478210
3    513.4  520.077687
4    506.3  524.638172
5    512.8  520.214501
6    504.3  516.383694
7    496.4  521.172203
8    578.6  502.565423
9    577.0  520.944179
10   510.9  506.761070
11   502.8  521.172203
12   506.4  509.497361
13   411.2  503.751149
14   503.9  521.126598
15   577.8  520.579340
16   512.8  513.966636
17   572.4  509.907804
18   406.7  506.031392
19   510.2  512.416071
20   507.1  513.556193
21   506.2  524.866196
22   522.0  510.135829
23   493.0  508.630869
24   531.7  502.474213
25   510.2  519.302404
26   505.2  502.018165

In [10]:
pd.DataFrame({'Actual Data' : testY, 'Predicted Data':test_pred})

   Actual Data  Predicted Data
0        505.4      514.422685
1        510.8      500.102761
2        563.9      526.462366

In [11]:
x = float(input('Enter pressure of liq nitrogen : '))
x = (x - minX) / (maxX - minX)
prediction = m * x + c
prediction = (prediction * (maxY - minY)) + minY
print('Predicted Weight is :', prediction)

Enter pressure of liq nitrogen : 125
Predicted Weight is : 497.8225182468974